.App {
  text-align: center;
}

h1 {
  color: black;
  font-size: 5em;
  font-family: "Black Han Sans", sans-serif;
}
h5 {
  font-family: "Balsamiq Sans", sans-serif;
}
li {
  list-style-type: none;
}
a:link {
  color: #293241;
  text-decoration: none;
}

a:visited {
  color: rgb(13, 14, 15);
}
a:hover {
  color: rgb(106, 128, 138);
  text-decoration: underline;
}
.box {
  position: static;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #c9dfeb, #f3f8f8 100%);
  filter: drop-shadow(6px 6px 3px #778da9);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}
.router-link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 5px solid rgb(30, 194, 219); */
}

table {
  margin-top: 10px;
  position: static;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  /* background-color: #3d5a80; */
}
.station-view-footer {
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
thead th,
tfoot th {
  font-family: -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #403d39;
  font-size: 1.2em;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
  font-family: -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #403d39;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

#search-station,
#filter-journey {
  margin-bottom: 10px;
}
